
*.code-workspace
config.yml
.scannerwork/**
.vscode/**
sonar-project.properties
/*.sh
/docs/swagger3.yaml
/docs/swagger.yaml
/docs/*.json
/docs/*.go
node_modules/**
app
package-lock.json
dockerdata
db-data