# Do not use this file for production use! This is for testing only!
version: '3.2'

services:
  remindme-db:
    image: mysql:9.4@sha256:91447968e66961302339ec4dc4d385f5e1a957d98e63c7d52ecf8b1de0907346
    environment:
      - 'MYSQL_ROOT_PASSWORD=mypass'
      - 'MYSQL_DATABASE=remindme'
    ports:
      - 3306:3306

  phpmyadmin:
    image: phpmyadmin@sha256:f842ffda6bbf94a085c2e99fe43dd6db80597cb513d9940887987b2e36a8605d
    restart: always
    ports:
      - 8081:80
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=remindme-db
